.App {
  text-align: center;
  background-image: url(../public/background2.png);
  background-size: cover;
  height: 1080px;
  width: 100%;
}


nav ul {
  margin: auto;
  list-style-type: none;
  background-color: rgb(29, 29, 29);
}

nav li {
  display: inline-block;
  padding: 20px 25px;
}

.homepage img {
  padding-top: 17%;
}

.homepage #play {
  margin: 5%;
  background-color: #0049a8;
  border: none;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.homepage #play:hover,
#play:link {
  background-color: #cf4c00;
}

.team_names {
  background-color: #002352;
  opacity: 90%;
  border: 2px solid white;
  border-radius: 1em;
  padding: 3%;
  width: 35%;
  margin: 0 auto;
  margin-top: 100px;
}

.team_names button {
  margin: 5%;
  background-color: #0049a8;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s
}

.team_names button:hover, button:link {
  background-color: #cf4c00;
}

.team_names h1 {
  color: white;
}

.team_names input {
  color: rgba(0, 0, 0, .87);
  border-bottom-color: rgba(0, 0, 0, .42);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: flex-end;
  box-sizing: border-box;
  width: 50%;
  padding: 20px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: rgb(245, 245, 245);
  height: 56px;
}

.team_names input:hover {
  border-bottom-color: rgba(0, 0, 0, .87);
  background: #ececec;
}

.team_names input:focus {
  border-color: #6200ee;
}


#question-header {
  color: white;
  border-bottom: solid 2px white;
  padding-bottom: 15px;
}

.question {
  color: white;
}

.question-page {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}


.answers-list li {
  list-style-type: none;
  width: 92%;
  align-items: center;
  padding: 2px;
}

.answers-board {
  background-color: #002352;
  margin: 50px 225px;
  opacity: 0.95;
  border: 2px solid white;
  border-radius: 1em;
  width: 40%;
  float: left;
}

.answers-board h1 {
  color: white;
  font-size: 50px;
  background-color: #0049a8;
}

.answers-board h4 {
  color: white;
  background-color: #0049a8;
  margin-top: -50px;
  padding: 2%;
}

.answers-board h2,
h3 {
  color: white;
}

.answerbtn {
  min-width: 30em;
  position: relative;
  height: 4em;
  border: 1px ridge gray;
  outline: none;
  background-image: linear-gradient(#003f92, #002352);
  color: white;
  transition: 0.2s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: 900;
}

.answerbtn::before,
.answerbtn:hover::after {
  transform: scale(0)
}

.answerbtn:hover {
  box-shadow: inset 0px 0px 25px #4db7f5;
}

.scoreboard table {
  position: center;
}

.turn-indicator {
  margin-top: 50px;
  margin-left: 60%;
  margin-right: 15%;
  padding: 1% 5% 1% 5%;
  background-image: linear-gradient(rgb(85, 85, 85), rgb(44, 44, 44));
  border: white solid 2px;
  border-radius: 1em;
  opacity: 0.95;
}

.turn-indicator h2 {
  background-color: black;
}

.turn-indicator h1, h2, h3, h4 {
  color: white;
}

.turn-indicator button {
  margin: 3%;
  background-color: #4f00cf;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s
}

.turn-indicator button:hover, button:link {
  background-color: #ffffff;
  color: black;
}

.reveal-question {
  background-color: #4f00cf;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s
}

.reveal-question:hover, .reveal-question:link{
  color: black;
  background-color: #ffffff
}

.scores {
  font-size: 75px;
}

.teamScore {
  margin-top: -50px;
}

#strikebtn {
  background-color: #da0000;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s
}

#strikebtn:hover, #strikebtn:link {
  color: black;
  background-color: white;
}

#awardbtn {
  background-color: #10be00;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s
}

#awardbtn:hover, #awardbtn:link {
  color: black;
  background-color: white;
}